
/* src/index.css */
* {
  user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  -moz-user-select: none !important;
  -webkit-touch-callout: none !important;
}

@media print {
  .container {
    display: none;
  }
}


.container{
  display:  flex;
  padding: 8px ;
  padding-top: 50px ;
   width: 100%;
}
.box{
display: flex;
flex-direction: column;
width: 100%;
}
.input {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

input {
  width: 100%;
  margin: 0 12px;
  border: 2px solid black;
}

.fail{
  border: 2px solid red ;
  box-shadow: inset 1px 1px 10px red;
}
.pass{ 
  border: 2px solid green;
  box-shadow: inset 1px 1px 10px green;
}




.Hint{
  margin: 8px ;
 padding: 30px ;
 background-color:  #ededed;
 margin-top: 34px ;
 border-radius: 13px ;
 color: #0A0A1B ;
box-shadow: inset 1px 1px 9px black;
font-family: 'Times New Roman', Times, serif;

}
.Hint h1{
    font-size: 30px ;
   color: white;
}

.ans{
    margin-left: 12px ;
}

.Green{
  margin: 10px ;
 padding: 30px ;
 background-color:  #1bc380;
 margin-top: 34px ;
 border-radius: 13px ;
 color: #0A0A1B ;
 box-shadow: inset 1px 1px 30px black;
 border: 4px solid black;
}
.Green h1{
   color: black;
}

@media (min-width: 1024px) {
  .container {
    width: 60%;
    margin: 0 auto; /* Center the container */
  }
  .Hint{
   padding: 20px ;
   background-color:  #0A0A1B;
   margin-top: 34px ;
   border-radius: 13px ;
  
  }
  .input{
    width: 100%;
    margin-top: 30px ;
   }
   input{
   width: 100%;
   border: 2px solid black;
   border-radius: 23px ;
   
   }
}
