.container{
  display:  flex;
  padding: 8px ;
  padding-top: 50px ;
   width: 100%;
}
.box{
display: flex;
flex-direction: column;
width: 100%;
}
.input{
 width: 84%;
 margin-top: 30px ;
}
input{
width: 100%;
border: 2px solid black;
border-radius: 23px ;

}
.fail{
box-shadow: 1px 1px 60px red ;
}
.pass{ 
box-shadow: 1px 1px 60px rgb(6, 225, 28) ;
}
.Hint{
 padding: 30px ;
 background-color: white;
 margin-top: 34px ;
 border-radius: 23px ;
 color: red ;

}